* {
    font-family: Helvetica, serif;
    font-size: 25px;
    color: white;
}

body,
textarea {
    background-color: #212529;
}

input[type=submit] {
    margin-top: 10px;
    background-color: #17181a;
    border-style: solid;
}

input[type=submit]:active {
    background-color: #121212;

}

input[type=file] {
    background-color: #212529 !important;
}

form {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 100%;
    margin-top: 45px;
}

form>* {
    width: 50%;
}

label {
    text-align: center;
}

textarea {
    font-size: small;
    height: 60px;
}

#message-box {
    text-align: center;
}
.message-true{
    color:greenyellow;
}
.message-false{
    color: red;
}