* {
    font-family: Helvetica;
    font-size: 25px;
    color: white;
}

body {
    background-color: #212529;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

button {
    margin-bottom: 10px;
    height: 60px;
    background-color: #17181a;
    border: none;
}

button:active,
button:hover {
    background-color: #121212;
}